*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #5f010a;
	background-image: url(../Assets/noise.png);
}

header{
	padding: 35px;
	color: lightgray;
	font-size: 15px;
    font-family: 'Roboto Mono', monospace;
}

ul{
	list-style-type: none;
}

li{
	display: inline-block;
	margin-right: 40px;
}

nav{
	top: -10px;
	margin-left: 1000px;
}

.logo{
	position: absolute;
}

.logo img{
	height: 100px;
	width: 150px;
	margin-left: 50px;
	margin-top: 10px;
}

.maintitle{
	color: whitesmoke;
	font-weight: bolder;
	margin-left: 240px;
	margin-top: 150px;
    font-family: 'Roboto Slab', serif;
	font-size: 70px;
}

.Hi{
	margin-left: 245px;	
	position: absolute;
	margin-top: 120px;
	color: lightgray;
	letter-spacing: 3px;
    font-family: 'Lato', sans-serif;
    font-family: 'PT Mono', monospace;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
}

.login a{
	color: white;
}

.subtitle{
	font-size: 40px;
	font-family: 'Roboto Slab', serif;
	margin-left: 240px;
	color: #949b9e;
}

.signuplink{
	text-decoration: none;
	color: whitesmoke;
}

.login{
	text-decoration: none;
	color: whitesmoke;
}


.gallery h2, .NFT h2{
	margin-left: 250px;	
	margin-top: 450px;
	font-family: 'Lato', sans-serif;
    font-family: 'PT Mono', monospace;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    color: whitesmoke;
    letter-spacing: 1.5px;
    font-size: 35px;
}

.gallery h4{
	margin-top: 30px;
	margin-left: 250px;
	margin-bottom: -30px;
	font-family: 'Lato', sans-serif;
    font-family: 'PT Mono', monospace;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    color: #949b9e;
    letter-spacing: 1.5px;
    font-size: 20px;
}

.Arts img{
	box-shadow: -2px 3px 10px black;
}

.Arts .TravellerElf img{
	height: 260px;
	width: 200px;
	margin-left: 290px;	
	margin-top: 70px;
	position: relative;

}

.TravellerElf .description{
	background-color: #3E0107;
	position: relative;
	top: -150px;
	left: 390px;
	width: 200px;
	box-shadow: -9px 9px 15px black;
}

.TravellerElf .description p, .ElfFightingStance .description p, .SasukeDrawing .description p, .HollowKnight .description p, .FlowerDressInked .description p, .VoidGivenForm .description p{
	color: white;
	font-size: 15px;
	letter-spacing: 1px;
	text-align: center;
}

.TravellerElf .description button, .ElfFightingStance .description button, .SasukeDrawing .description button, .HollowKnight .description button, .FlowerDressInked .description button, .VoidGivenForm .description button{
	width: 100%;
	height: 50%;
  	border: none;
  	padding: 18px;
  	font-family: 'Rubik', sans-serif;
  	cursor: pointer;
  	text-transform: uppercase;
  	background: #e8e9ec;
  	color: #777;
  	border-bottom-left-radius: 4px;
  	border-bottom-right-radius: 0;
  	letter-spacing: 0.5px;
  	outline: 0;
  	-webkit-transition: all .3s;
  	transition: all .3s;	font-weight: bolder;
	
}

.Arts .ElfFightingStance img{
	height: 260px;
	width: 290px;
	margin-left: 650px;
	margin-top: -345px;	
 	position: absolute;
}

.ElfFightingStance .description{
	background-color: #3E0107;
	position: relative;
	top: -235px;
	left: 840px;
	width: 200px;
	box-shadow: -9px 9px 15px black;
}

.Arts .SasukeDrawing img{
	height: 265px;
	width: 300px;
	position: relative;
	top: -428px;
	left: 1100px;
}

.SasukeDrawing .description{
	background-color: #3E0107;
	position: relative;
	top: -585px;
	left: 1300px;
	width: 200px;
	box-shadow: -9px 9px 15px black;

}

.Arts .HollowKnight img{
	position: relative;
	height: 250px;
	width: 260px;
	left: 260px;
	top: -400px;
}

.HollowKnight .description{
	position: relative;
	background-color: #3E0107;
	top: -550px;
	left: 390px;
	width: 200px;
	box-shadow: -9px 9px 15px black;
}

.FlowerDressInked img{
	height: 290px;
	width: 230px;
	position: relative;
	left: 685px;
	top: -760px;
}

.FlowerDressInked .description{
	position: relative;
	background-color: #3E0107;
	left: 840px;
	top: -940px;
	width: 200px;
}

.Arts .VoidGivenForm img{
	position: relative;
	background-color: #3E0107;
	height: 245px;
	width: 300px;
	left: 1100px;
	top: -1120px;
}

.VoidGivenForm .description{
	position: relative;
	background-color: #3E0107;
	width: 200px;
	top: -1270px;
	left: 1300px;
}

.NFT{
	position: relative;
	bottom: 1440px;
}

.NFT .subtitle{
	margin-top: 30px;
	margin-left: 250px;
	font-family: 'Lato', sans-serif;
    font-family: 'PT Mono', monospace;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    color: #949b9e;
    letter-spacing: 1.5px;
    font-size: 20px;
}

.NFT .NFTimage{
	border: medium dashed white;
	position: relative;
	height: 400px;
	width: 400px;
	left: 300px;
	top: 50px;
}

.NFT .NFTimage img{
	height: 300px;
	width: 300px;
	position: relative;
	top: 50px;
	left: 40px;
}

.NFT .description p{
	color: white;
	font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    margin-left: 750px;
    margin-top: -360px;
}