*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #5f010a;
	background-image: url(../Assets/noise.png);
}

header{
	padding: 35px;
	color: lightgray;
	font-size: 15px;
    font-family: 'Roboto Mono', monospace;
}

ul{
	list-style-type: none;
}

li{
	display: inline-block;
	margin-right: 40px;
}

nav{
	top: -10px;
	margin-left: 1000px;
}

.logo{
	position: absolute;
}

.logo img{
	height: 100px;
	width: 150px;
	margin-left: 50px;
	margin-top: 10px;
}

.maintitle{
	color: whitesmoke;
	font-weight: bolder;
	margin-left: 240px;
	margin-top: 150px;
    font-family: 'Roboto Slab', serif;
	font-size: 70px;
}

.Hi{
	margin-left: 245px;	
	position: absolute;
	margin-top: 120px;
	color: lightgray;
	letter-spacing: 3px;
    font-family: 'Lato', sans-serif;
    font-family: 'PT Mono', monospace;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
}

.login a{
	color: white;
}

.subtitle{
	font-size: 40px;
	font-family: 'Roboto Slab', serif;
	margin-left: 240px;
	color: #949b9e;
}

.signuplink{
	text-decoration: none;
	color: whitesmoke;
}

.login{
	text-decoration: none;
	color: whitesmoke;
}


.gallery h3{
	margin-left: 290px;	
	margin-top: 450px;
	font-family: 'Lato', sans-serif;
    font-family: 'PT Mono', monospace;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    color: whitesmoke;
    letter-spacing: 1.5px;
    font-size: 35px;
}

.Arts img{
	box-shadow: -9px 9px 15px black;
}

.Arts .TravellerElf img{
	height: 260px;
	width: 200px;
	margin-left: 290px;	
	margin-top: 70px;
	position: relative;
}

.TravellerElf .description{
	background-color: #3E0107;
	position: relative;
	top: -150px;
	left: 390px;
	width: 200px;
	box-shadow: -9px 9px 15px black;
}

.TravellerElf .description p, .ElfFightingStance .description p{
	color: white;
	font-size: 15px;
	letter-spacing: 1px;
}

.TravellerElf .description button, .ElfFightingStance .description button{
	color: black;
	font-size: 20px;
	font-weight: lighter;
	margin-left: 70px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.Arts .ElfFightingStance img{
	height: 260px;
	width: 290px;
	margin-left: 650px;
	margin-top: -345px;	
 	position: absolute;
}

.ElfFightingStance .description{
	background-color: #3E0107;
	position: relative;
	top: -235px;
	left: 840px;
	width: 200px;
	box-shadow: -9px 9px 15px black;
}